body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.buttonCustom a{
    text-decoration:none;
    color:white;
}

#ajax{
    margin-left:280px;
}

#EmailResult {
    margin-left: 420px;
    margin-top: 10PX;
    color: #DC7633;
    font-size: 20PX;
    font-weight: bolder;
}

#msfont{
    color:darkred !important;
    margin-top:20px;
}
#gatherExcel{
    color:orange !important;
}
#dpleft2 {
    
    flex: 0 0 25%;
}

#dpright2 {
    flex: 2;
    margin-left:10px;
}

#dpleft2 p {
    margin
}

#wrapper {
    display: flex;
}